body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  color: #382F26;
}

.background-section {
  background: url("../img/background-main.jpg");
  background-size: cover;
  height: 942px;
}

.background-section-mist {
  background: url("../img/background-mist.png");
  background-size: cover;
  height: 942px;
}

.header {
  background: url("../img/header-background.png");
}

.link {
  text-decoration: none;
}

.menu {
  list-style: none;
}

.nav__menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 105px;
  line-height: 22px;
  font-weight: bold;
  font-size: 18px;
}
.nav__item {
  margin: 43px 0 0 50px;
}
.nav__item_logo {
  margin: 20px 34px 0 60px;
}
.nav__item_contact {
  color: #E95A0C;
  padding: 12px 24px;
  margin: 29px 0 0 80px;
  width: 140px;
  height: 50px;
  border: 2px solid #E95A0C;
  box-sizing: border-box;
}
.nav__item_contact:hover {
  background: #fffaf6;
  transition-duration: 0.2s;
}
.nav__link {
  color: #382F26;
}
.nav__link:hover {
  color: #E95A0C;
  transition-duration: 0.2s;
}
.nav__link_contact {
  color: #E95A0C;
}

.promo {
  display: flex;
  justify-content: center;
}

.info {
  margin: 142px 0 0 226px;
  width: 500px;
}
.info__heading {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
.info__text {
  font-weight: 300;
  font-size: 40px;
  margin-top: -72px;
}
.info__shopping {
  width: 170px;
  height: 50px;
  padding: 12px 42px;
  color: #E95A0C;
  border: 2px solid #E95A0C;
  background: #E95A0C;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.info__shopping:hover {
  background: none;
  transition-duration: 0.2s;
}
.info__shopping_link {
  color: #FFFFFF;
}

.images {
  display: flex;
  margin-top: 14px;
}
.images__front {
  margin: 392px 0 0 -180px;
}

.advantages {
  display: flex;
  font-size: 18px;
  margin-top: 66px;
  margin-left: 40vw;
}
.advantages__item {
  width: 245px;
  height: 132px;
  background-color: #EFEAE6;
  display: block;
}
.advantages__item_light {
  background: #FFFAF6;
}
.advantages__icon {
  display: block;
  height: 40px;
  margin: 30px auto 10px auto;
}
.advantages__text {
  display: block;
  text-align: center;
}

.about {
  margin-top: 347px;
  height: 299px;
  color: #FFFFFF;
  background: #221E1A;
  position: relative;
}
.about__columns {
  display: flex;
  justify-content: space-around;
}
.about__item {
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.about__heading {
  font-size: 18px;
  margin: 40px 0 0 40px;
}
.about__heading_form {
  margin: 40px 0 10px 0;
}
.about__icon {
  margin: 15px 15px 0 0;
}
.about__link {
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.7em;
}
.about__button {
  width: 116px;
  height: 50px;
  background: #221E1A;
  font-size: 18px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.about__rights {
  width: 356px;
  display: block;
  margin: 40px auto;
  font-weight: 300;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__input {
  height: 29px;
  margin-top: 15px;
  background-color: #221E1A;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
.form__input__textarea {
  color: #FFFFFF;
  box-sizing: border-box;
}
.form__input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}
.form__button {
  margin-top: 15px;
}
.form__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .nav__item_logo {
    margin: 20px 0 0 2vw;
  }

  .info {
    margin: 40px 0 0 10vw;
  }
  .info__text {
    margin-top: 0;
  }
  .info__shopping {
    width: 204px;
    height: 60px;
    padding: 16px 56px;
  }

  .advantages {
    width: 100vw;
    margin-left: 0;
  }
  .advantages__item {
    width: 33.33vw;
  }

  .about {
    height: 720px;
  }
  .about__columns {
    flex-direction: column;
  }
  .about__leads {
    margin-left: 40px;
  }
}
@media screen and (max-width: 860px) {
  .nav__item_logo {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
